@{
    ViewBag.Title = "Home Page";
}


<div class="jumbotron">
    <h1>Amercian ball candy agency</h1>
    <p>
        <img src="~/Content/mer.png"
             alt="Amercian ball is confused"
             style="float:right;width:50%;" />
    </p>
    <p class="lead">Efficient only sometimes</p>
    <p>Best rated in amercia</p>
</div>