
@{
    ViewBag.Title = "YODA Inc";
    string[] obama = { "Yoda Man", "Joe Bob", "Victoria 3" };
    string[] powerplay = { "Lord Fortnite", "Mr Krabs", "Verticle Mice" };
   


}



<h2>OverLords of Yoda INC</h2>
@foreach (var yeet in obama)
{
    <p>@yeet</p>
}
<h2>Vice Presidents</h2>
@foreach (var person in powerplay)
{
    <p>@person</p>
}
